<div class="memories-view">
    <img src="../../../assets/images/IMG_0780_1024.jpg">
    <img src="../../../assets/images/IMG_3245_1024.jpg">
    <img src="../../../assets/images/IMG_4874_1024.jpg">
    <img src="../../../assets/images/IMG_0795_1024.jpg">
    <img src="../../../assets/images/IMG_0795.jpg">
    <img src="../../../assets/images/IMG_2445.jpg">
    <img src="../../../assets/images/IMG_4481_1024.jpg">
    <img src="../../../assets/images/IMG_5736_1024.jpg">
    <img src="../../../assets/images/IMG_6676_1024.jpg">
    <img src="../../../assets/images/thumb_IMG_7380_1024.jpg">
    <img src="../../../assets/images/thumb_IMG_7423_1024.jpg">
    <img src="../../../assets/images/thumb_IMG_7940_1024.jpg">
    <img src="../../../assets/images/thumb_IMG_8406_1024.jpg">
</div>